<!--Niccolas Ricci, Hongya Zhou.-->
<!--The credit input does not work on firefox since its version too old.-->
<!DOCTYPE html>
<html ng-app="kittensApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Lab</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/libs/angular/angular.js" ></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap.min.js" ></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js" ></script>
    <script type="text/javascript" src="/javascripts/todo.js" ></script>
    <script type="text/javascript" src="/javascripts/kittens.js" ></script>
</head>
<body>
<h1>Take Me <a href="index.html">Home</a></h1>
    <div class="col-md-4 col-md-offset-1 section" ng-controller="CarouselDemoCtrl">
        <h2>Kitten Carousel</h2>
        <div style="height: 305px">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
            </div>
            <div class="col-md-6">
                Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
                <br />Enter a negative number to stop the interval.
            </div>
        </div>
    </div>

    <div class="col-md-4 col-md-offset-1 section" ng-controller="GradeController">
        <h1>GPA Calculator</h1>
        <hr />
        <!-- Simple dropdown -->
          <!--<span class="dropdown" on-toggle="toggled(open)">-->

              <!--Math-->

          <!--<ul class="dropdown-menu">-->
              <!--<li ng-repeat="choice in items">-->
                  <!--<a href>{{choice}}</a>-->
              <!--</li>-->
          <!--</ul>-->
        <!--</span>-->

        <!--&lt;!&ndash; Single button &ndash;&gt;-->
        <!--<div class="btn-group" dropdown is-open="status.isopen">-->
            <!--<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">-->
                <!--Grade <span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li><a href="">A</a></li>-->
                <!--<li><a href="#">B</a></li>-->
                <!--<li><a href="#">C</a></li>-->
                <!--<li><a href="#">D</a></li>-->
                <!--<li><a href="#">F</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div ng-app >-->

            <!--<span>class 1: credit: <input type="number" class="grade" min="0" max ="4" ng-model="credit1">-->
                <!--grade:<select ng-model="grade1" ng-options="gpa.grade for gpa in grades"></select></span></br>-->
            <!--<span>class 2: credit: <input type="number" class="grade" min="0" max ="4" ng-model="credit2">-->
                <!--grade:<select ng-model="grade2" ng-options="gpa.grade for gpa in grades"></select></span></br>-->
            <!--<span>class 3: credit: <input type="number" class="grade" min="0" max ="4" ng-model="credit3">-->
                <!--grade:<select ng-model="grade3" ng-options="gpa.grade for gpa in grades"></select></span></br>-->
            <!--<span>class 4: credit: <input type="number" class="grade" min="0" max ="4" ng-model="credit4">-->
                <!--grade:<select ng-model="grade4" ng-options="gpa.grade for gpa in grades"></select></span></br>-->
            <!--<span>Your Credits:{{sum()}}</span></br>-->
            <!--<span>Your GPA: {{(credit1*grade1.credit+credit2*grade2.credit+credit3*grade3.credit+credit4*grade4.credit)/(credit1+credit2+credit3+credit4) | number}} </span>-->
        <!--</div>-->

        <!--Table for each class item-->
        <table class = "table">
            <tr class = "fix">
                <th>Course Name</th>
                <th>Credits</th>
                <th>Grade</th>
                <th>GPA Point</th>
            </tr>
            <!--Inputs for the name, and credits, selector for the grade.-->
            <tr ng-repeat="item in classes.class">
                <td><input type="text" ng-model="item.name"class="name"></td>
                <td><input type="number" class="grade" min="0" max ="5" ng-model="item.credit" ></td>
                <td><select type="text" ng-model="item.grade" ng-options="gpa.grade for gpa in grades"></select></td>
                <td>{{item.grade.value.toFixed(3)}}</td>
                <td>[<a href ng-click="removeClass($index)">X</a>]</td>
            </tr>
            <tr>
                <td>Total Credits:</td>
                <td>{{returnCred}}</td>
                <td><b>GPA</b></td>
                <td>{{gpa}}</td>
            </tr>
        </table>


        <!--<!-- Split button -->
        <!--<div class="btn-group" dropdown>-->
            <!--<button type="button" class="btn btn-danger">Action</button>-->
            <!--<button type="button" class="btn btn-danger dropdown-toggle">-->
                <!--<span class="caret"></span>-->
                <!--<span class="sr-only">Split button!</span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
            <!--</ul>-->
        <!--</div>-->

        <hr />
        <p>
            <button type="button" class="btn btn-default btn-sm" ng-click="total()">Calculate</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addClass()">Add Course</button>
            <!--<button class="btn btn-default btn-sm">-->
            <a href="print.html"><button type="button" class="btn btn-default btn-sm">Print</button></a>
        </p>

    </div>
</body>
</html>