<!DOCTYPE html>
<html ng-app="kittensApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Lab</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/libs/angular/angular.js" ></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap.min.js" ></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js" ></script>
    <script type="text/javascript" src="/javascripts/todo.js" ></script>
    <script type="text/javascript" src="/javascripts/kittens.js" ></script>
</head>
<body>
<table class = "table">
    <tr>
        <th>Course Name</th>
        <th>Credits</th>
        <th>Grade</th>
        <th>GPA Point</th>
    </tr>
    <tr ng-repeat="item in classes.class">
        <td><input type="text" ng-model="item.name"class="input-small"></td>
        <td><input type="number" class="grade" min="0" max ="4" ng-model="item.credit" ></td>
        <td><select type="text" ng-model="item.grade" ng-options="gpa.grade for gpa in grades"></select></td>
        <td>{{item.grade.value.toFixed(3)}}</td>
    </tr>
    <tr>
        <td>Total Credits:</td>
        <td>{{returnCred}}</td>
        <td><b>GPA</b></td>
        <td>{{gpa}}</td>
    </tr>
</table>
</body>
</html>